body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 10px;
}

.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    flex: 0 1 auto;
    margin-bottom: 10px;
}

.main-content {
    display: flex;
    flex: 1;
    overflow: hidden;
    margin-bottom: 10px;
}

.sidebar {
    background-color: #d1d1d1;
    padding: 20px;
    width: 25%;
    box-sizing: border-box;
    margin-right: 10px;
}

.content {
    background-color: #e1e1e1;
    padding: 20px;
    flex: 1;
    box-sizing: border-box;
    overflow-y: auto;
}

.footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    flex: 0 1 auto;
}
